.tab-bt {
    background-color: #cccccc;
    border-left: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;
    border-top: solid 1px #dddddd;
    border-bottom: solid 0px #dddddd;
}
.tab-dc {
    background-color: #108cf8;
    border-left: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;
    border-top: solid 1px #dddddd;
    border-bottom: solid 0px #dddddd;
}
.tab-sc {
    background-color: #37e1df;
    border-left: solid 1px #dcdcdc;
    border-right: solid 1px #dcdcdc;
    border-top: solid 1px #dddddd;
    border-bottom: solid 0px #dddddd;
    cursor:pointer;
}