
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.col {
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
  flex: 1;
}

.question {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}

.button {
  display: flex;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  margin-top: 20px;
}
